div.selection-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  flex-wrap: nowrap;

  width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;

  div.selection-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    height: fit-content;
    width: fit-content;
    box-sizing: border-box;

    div.selection-item {
      border-radius: 100%;
      margin: 20px;
    }

    div.media-link-item {
      height: 150px;
      width: 150px;
      margin: 20px 20px;
      border-radius: 100%;
      background-color: blue;
    }

    div.active {
      background-color: $selected-color;
    }
  }
}